
.DS_Store
Documents/.DS_Store
Documents/magmaIntro.aux
Documents/magmaIntro.fdb_latexmk
Documents/magmaIntro.fls
Documents/magmaIntro.log
Documents/magmaIntro.out
Documents/magmaIntro.synctex.gz
Papers/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Documents/.DS_Store
Papers/.DS_Store
Talks/.DS_Store
.DS_Store
